/* General Set-up (Fonts, margins, background colors) */

/* Question 0. Import a font and make all text in the body using that font. Check the homework instructions for more information!*/

body {
    margin: 50px auto;
    max-width: 1000px;
    color: #1d3557;
    font-family: 'Roboto', sans-serif;
}

img {
    border-radius: 100%;
    width: 150px;
    border: 4px solid #1d3557;
    transition: ease-in-out 0.3s;
    display: block;
    margin: auto;
}

h1 {
    font-size: 45px;
    transition: ease-in-out 0.5s;
    text-align: center;
}

/* Question 1. Add a hover effect for your h1 tag and img tag! You can change the background-color, color, opacity, or anything you want.*/
h1:hover {
    color: rgb(83, 118, 214);
}

img:hover {
    color: rgb(64, 113, 153);
    opacity:0.5;
    transition: 1s ease;
}



/* Question 2. Add margin, padding, and borders to section tags! */
section {
    text-align: center;
    border: 10px double rgba(141, 134, 243, 0.884);
    padding: 40px;
    margin: 20px;
}



/* Question 3. Add different background colors for all the different sections, by selecting them via ids. */

#education {
    background-color: rgba(155, 177, 248, 0.555);
}

#experience {
    background-color: rgba(155, 192, 248, 0.555);
}

#projects {
    background-color: rgba(155, 176, 248, 0.555);
}

#contact {
    background-color: rgba(155, 192, 248, 0.555);
}

/* Experience Section */

/* Question 4a. This is a little tougher! Use CSS Flexbox to display your experiences as shown in the diagram.
 Hint: If you're stuck with finding values that work, check the homework instructions document for some help!*/

.experience-wrapper {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experience-list-item {
    /* Tip: Feel free to change anything here (e.g. border, background-color, etc.). 
    Changing the padding and width might throws thiings off, but experiment with it and see what looks good. */
    border: 4px solid #1d3557;
    text-align: left;
    width: 250px;
    padding: 10px 20px;
    background-color: #a5d2ee;
    border-radius: 15px;

    /* Tip: Add the transition attribute to make effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}



/* Question 4b. Let's take a break! Add a hover effect to each experience-list-item div. 
Experiment with border, border-radius, background-color, or whatever you want!*/

.experience-list-item:hover {
    color: #fff;
    box-shadow: inset 300px 0 0 0 #54b3d6;;
}


/* Projects Section */

/* Question 5. Use CSS Flexbox or Grid and hover effects for the Projects Section, 
but use different hover effects from the Experiences section! */

.project-wrapper {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-list-item {
    flex: 1 1 150px;
    margin: 5px;
    padding: 10px 20px;
    border: 4px solid darkslateblue;
    background: pink;
    text-align: center;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  .project-list-item:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

/* Contact Section */

/* Question 6. Make your link pretty! */
a {
    background-image: linear-gradient(
      to right,
      #8c45e7,
      #8c45e7 50%,
      #000 50%
      );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 3px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: rgba(141, 134, 243, 0.884);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }


/* Question 7. Let's make this a little more mobile-friendly! Use a media query/breakpoint to make
project-list-item and experience-list-item divs have a width of 100% for smaller devices.*/

/* Small devices (portrait tablets and large phones, 600px screen and up) */
@media only screen and (max-width: 600px) {
    [class*="experience-list-item"] {
        width: 100%;
      }

    [class*="project-list-item"] {
    width: 100%;
    }
}